{
    "presets": [
      [
        "next/babel",
        {
          "styled-jsx": {
            "optimizeForSpeed": false,
            "plugins": [
              "styled-jsx-plugin-sass"
            ]
          }
        }
      ]
    ],
    "plugins":[
      "transform-decorators-legacy",
      "transform-class-properties"
    ]
  }